* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --image-width: 80vw;
    --image-height: 70vh;
    --text-width: 50vw
}


body {
    background-color: #FFBE73;
    color: #020835;
    font-family: 'Chakra Petch', sans-serif;
}

input {
    display: none;
}


.image-slider {
    margin: auto;
    width: var(--image-width);
    overflow-x: hidden;
    /* display: flex; */
}

.images {
    transition: margin-left 1s;
    margin-left: -0em;
    width: calc(var(--image-width) * 4);
}


img {
    width: var(--image-width);
    height: var(--image-height);
    /* object-fit: cover; */
    object-fit: contain;
    background-color: #081472;
}

#dr1:checked~.images {
    margin-left: calc(var(--image-width) * -0);
}

#mr1:checked~.images {
    margin-left: calc(var(--image-width) * -0);
}

#dr2:checked~.images {
    margin-left: calc(var(--image-width) * -1);
}

#mr2:checked~.images {
    margin-left: calc(var(--image-width) * -1);
}

#dr3:checked~.images {
    margin-left: calc(var(--image-width) * -2);
}

#mr3:checked~.images {
    margin-left: calc(var(--image-width) * -2);
}

#dr4:checked~.images {
    margin-left: calc(var(--image-width) * -3);
}

#mr4:checked~.images {
    margin-left: calc(var(--image-width) * -3);
}

.text-slider {
    width: var(--text-width);
    overflow-x: hidden;
    display: inline-block;
}

.texts {
    font-size: 3em;
    transition: margin-left 1s;
    margin-left: -0em;
    /* width: 30em; */
    width: calc(var(--text-width) * 4);
}

.texts span {
    display: inline-block;
    width: var(--text-width);
}

#dr1:checked~.text-and-buttons .text-slider .texts {
    margin-left: calc(var(--text-width) * -0);
}

#mr1:checked~.text-slider .texts {
    margin-left: calc(var(--text-width) * -0);
}

#dr2:checked~.text-and-buttons .text-slider .texts {
    margin-left: calc(var(--text-width) * -1);
}

#mr2:checked~.text-slider .texts {
    margin-left: calc(var(--text-width) * -1);
}

#dr3:checked~.text-and-buttons .text-slider .texts {
    margin-left: calc(var(--text-width) * -2);
}

#mr3:checked~.text-slider .texts {
    margin-left: calc(var(--text-width) * -2);
}

#dr4:checked~.text-and-buttons .text-slider .texts {
    margin-left: calc(var(--text-width) * -3);
}

#mr4:checked~.text-slider .texts {
    margin-left: calc(var(--text-width) * -3);
}

.labels {
    display: inline-block;
}

label {
    display: inline-block;
    cursor: pointer;
    border: 10px solid #FFBE73;
}

label .castom {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #717DD7;
}

label:hover .castom {
    background-color: #00B64F;
}

label:active .castom {
    background-color: #007633;
}

#dr1:checked~.text-and-buttons .labels .first-label .castom {
    border: 3px solid #717DD7;
    background-color: #FFBE73;
}

#dr1:checked~.text-and-buttons .labels .first-label:hover .castom {
    border: 3px solid #00B64F;
    background-color: #FFBE73;
}

#dr2:checked~.text-and-buttons .labels .second-label .castom {
    border: 3px solid #717DD7;
    background-color: #FFBE73;
}

#dr2:checked~.text-and-buttons .labels .second-label:hover .castom {
    border: 3px solid #00B64F;
    background-color: #FFBE73;
}

#dr3:checked~.text-and-buttons .labels .third-label .castom {
    border: 3px solid #717DD7;
    background-color: #FFBE73;
}

#dr3:checked~.text-and-buttons .labels .third-label:hover .castom {
    border: 3px solid #00B64F;
    background-color: #FFBE73;
}

#dr4:checked~.text-and-buttons .labels .fourth-label .castom {
    border: 3px solid #717DD7;
    background-color: #FFBE73;
}

#dr4:checked~.text-and-buttons .labels .fourth-label:hover .castom {
    border: 3px solid #00B64F;
    background-color: #FFBE73;
}

.desktop .text-and-buttons {
    display: flex;
    justify-content: space-between;
}

.mobile .labels {
    display: flex;
    justify-content: center;
}


.mobile {
    display: none;
}


@media (max-width: 768px) {
    :root {
        --image-width: 95vw;
        --image-height: 70vh;
        --text-width: 100vw
    }



    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }


    #mr1:checked~.labels .first-label .castom {
        border: 3px solid #717DD7;
        background-color: #FFBE73;
    }

    #mr1:checked~.labels .first-label:hover .castom {
        border: 3px solid #00B64F;
        background-color: #FFBE73;
    }

    #mr2:checked~.labels .second-label .castom {
        border: 3px solid #717DD7;
        background-color: #FFBE73;
    }

    #mr2:checked~.labels .second-label:hover .castom {
        border: 3px solid #00B64F;
        background-color: #FFBE73;
    }

    #mr3:checked~.labels .third-label .castom {
        border: 3px solid #717DD7;
        background-color: #FFBE73;
    }

    #dr3:checked~.labels .third-label:hover .castom {
        border: 3px solid #00B64F;
        background-color: #FFBE73;
    }

    #mr4:checked~.labels .fourth-label .castom {
        border: 3px solid #717DD7;
        background-color: #FFBE73;
    }

    #mr4:checked~.labels .fourth-label:hover .castom {
        border: 3px solid #00B64F;
        background-color: #FFBE73;
    }
}