* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --image-width: 80vw;
    --image-height: 70vh;
    --text-width: 50vw
}


body {
    background-color: #FFBE73;
}

input {
    display: none;
}


.image-slider {
    margin: auto;
    width: var(--image-width);
    overflow-x: hidden;
    /* display: flex; */
}

.images {
    transition: margin-left 1s;
    margin-left: -0em;
    width: calc(var(--image-width) * 4);
}


img {
    width: var(--image-width);
    height: var(--image-height);
    /* object-fit: cover; */
    object-fit: contain;
    background-color: #081472;
}

#r1:checked~.images {
    margin-left: calc(var(--image-width) * -0);
}

#r2:checked~.images {
    margin-left: calc(var(--image-width) * -1);
}

#r3:checked~.images {
    margin-left: calc(var(--image-width) * -2);
}

#r4:checked~.images {
    margin-left: calc(var(--image-width) * -3);
}

.text-slider {
    width: var(--text-width);
    overflow-x: hidden;
    display: inline-block;
}

.texts {
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    transition: margin-left 1s;
    margin-left: -0em;
    /* width: 30em; */
    width: calc(var(--text-width) * 4);
}

.texts span {
    display: inline-block;
    width: var(--text-width);
}

#r1:checked~.text-and-buttons .text-slider .texts {
    margin-left: calc(var(--text-width) * -0);
}

#r2:checked~.text-and-buttons .text-slider .texts {
    margin-left: calc(var(--text-width) * -1);
}

#r3:checked~.text-and-buttons .text-slider .texts {
    margin-left: calc(var(--text-width) * -2);
}

#r4:checked~.text-and-buttons .text-slider .texts {
    margin-left: calc(var(--text-width) * -3);
}

.labels {
    display: inline-block;
}

label {
    display: inline-block;
    cursor: pointer;
    border: 10px solid #FFBE73;
}

label .castom {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #717DD7;
}

label:hover .castom {
    background-color: #00B64F;
}

label:active .castom {
    background-color: #007633;
}

#r1:checked~.text-and-buttons .labels .first-label .castom {
    border: 3px solid #717DD7;
    background-color: #FFBE73;
}

#r1:checked~.text-and-buttons .labels .first-label:hover .castom {
    border: 3px solid #00B64F;
    background-color: #FFBE73;
}

#r2:checked~.text-and-buttons .labels .second-label .castom {
    border: 3px solid #717DD7;
    background-color: #FFBE73;
}

#r2:checked~.text-and-buttons .labels .second-label:hover .castom {
    border: 3px solid #00B64F;
    background-color: #FFBE73;
}

#r3:checked~.text-and-buttons .labels .third-label .castom {
    border: 3px solid #717DD7;
    background-color: #FFBE73;
}

#r3:checked~.text-and-buttons .labels .third-label:hover .castom {
    border: 3px solid #00B64F;
    background-color: #FFBE73;
}

#r4:checked~.text-and-buttons .labels .fourth-label .castom {
    border: 3px solid #717DD7;
    background-color: #FFBE73;
}

#r4:checked~.text-and-buttons .labels .fourth-label:hover .castom {
    border: 3px solid #00B64F;
    background-color: #FFBE73;
}

.text-and-buttons {
    display: flex;
    justify-content: space-between;
}


.mobile {
    display: none;
}


@media (max-width: 768px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}